*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
header{
  height: 15vh;
  background-color:#546feb;
  border: 1px solid;
  color:white;
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 0 60px;
}
.main{
  /* border: 1px solid;  */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.card{
  height: 8rem;
  /* border: 1px solid black; */
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card img{
  height: 140px ;
  }
  .product-details{
    width: 50%;
    
  }

  /* Remove Button */
  .product-details span{
    color: #4260e6;
    cursor: pointer;
  }

  .product-details span:hover{
    color: #0c35ea;
   
  }
.amount-btns{
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  gap: 10px;
  right: 10px;
}

.amount-btns span{
  color: purple ;
  font-size: 25px;
  cursor: pointer;
}
footer{
  height:20vh ;
  width: 80%;
  border-top: 2px solid;
  margin: 25px auto;
  padding: 10px 0;
  display: flex;
  flex-direction: column;


}
footer button{
  
  height: 30px;
  width: 100px;
  font-size: 16px;
  background-color:#a9def9;
  border: 1px solid #6abbe3;
  border-radius: 5px;
  margin:  auto;
}
.total-div{
  /* border: 1px solid red; */

  display: flex;
  justify-content: space-between;
}
.total-div p{
  background-color: #546feb;
  color: white;
  /* display: block; */
  height: 28px;
  width: 100px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;

}
